/* Made by Hilarious */
* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  background-color: #f1f1f1;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 300px;
}
input[type="button"] {
  position: relative;
  top: 0px;
  left: 0px;
  width: 4em;
  background-color: DodgerBlue;
  color: #fff;
}
textarea {
  position: relative;
  margin-top: 20px;
  margin-left: 0px;
  height: 200px;
  width: 600px;
  resize: none;
}
.button2 {
  position: absolute;
  width: 300px;
  top: 450px;
  transition: all 0.5s;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/* Style the form */
#regForm {
  background-color: #ffffff;
  margin-left: 60px;
  margin-top: 60px;
  padding: 0px;
  width: 40%;
  min-width: 300px;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
.input-container {
  position: relative;
  float: left;
}
.input-container:after {
  position: relative;
  right: 30px;
  top: 0px;
  content: "%";
}
p {
  position: relative;
  top: 0px;
  left: 480px;
}
p1 {
  font-size: 24px;
  position: relative;
  top: -435px;
  left: -30px;
}
p2 {
  position: relative;
  top:-400px;
  left:60px;
  font-size:36px;  
}
img {
  position: relative;
  top: -100px;
  left: -165px;
  z-index: 0;
}
